
<div class="section cc-home-wrap">
  <div class="project-overview-header">
    <div class="intro-content">
      <div class="heading-jumbo">Do Vo Electrical<br></div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="w-layout-grid project-details-grid">
      <div id="w-node-27f88a387918-53bf5fb2">
        <!--
        <div class="details-wrap">
          <div class="label">Who</div>
          <div class="paragraph-light">Jason Davis, John Anderson, Mirco Cattabriga, Aaron Jones, Amanda Johnson, Steve
            McQueen</div>
        </div>
        -->
        <div class="details-wrap">
          <div class="label">When</div>
          <div class="paragraph-light">April 2019</div>
        </div>
        <!--
        <div class="details-wrap">
          <div class="label">Who</div>
          <div class="paragraph-light">Jason Davis, John Anderson, Mirco Cattabriga, Aaron Jones, Amanda Johnson, Steve
            McQueen</div>
        </div>
        -->
      </div>
      <div id="w-node-27f88a387928-53bf5fb2" class="paragraph-light">Far far away, behind the word mountains, far from
        the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right
        at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and
        supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences
        fly into your mouth. <br>‍<br>Far far away, behind the word mountains, far from the countries Vokalia and
        Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
        Semantics, a large language ocean. Far far away, behind the word mountains, far from the countries Vokalia and
        Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
        Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the
        necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
        <br>‍<br>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
        blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
      </div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="project-pics"><img
        src="/assets/project3/splashimagemaybe.jpg"
        width="920" alt="" class="detail-image"><img
        src="/assets/project3/lift.jpg"
        width="920" alt="" class="detail-image"><img
        src="/assets/project3/backview.jpg"
        width="920" alt="" class="detail-image"></div>
  </div>
</div>
