<div class="navigation">
  <div class="navigation-wrap">
    <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="logo-link">
      <img src="/assets/logowords.png" width="120" alt="aggressivesignlogo.jpg">
    </a>
    <div class="menu">
      <nav class="navigation-items"
        style="transition: all; transform: translateY(0px) translateX(0px);">
        <ul>
          <a class="navigation-item" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
          <a class="navigation-item" routerLink="/work" routerLinkActive="active" ariaCurrentWhenActive="page">Work</a>
          <a class="navigation-item" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
        </ul>
      </nav>
      <div class="menu-button">
        <img src="https://assets.website-files.com/5c6eb5400253230156de2bd6/5c6eb8fd2f27af658094fa4a_menu-icon.png"
          width="27" alt="" class="menu-icon" (click)="toggleMenu()">
      </div>
    </div>
    <a href="mailto:jason@aggressivesign.com?subject=You've%20got%20mail!" class="button">
      <div>Contact US</div>
    </a>
  </div>
  @if (menuOpen) {
    <app-navoverlay></app-navoverlay>
  }
</div>
