<div class="section cc-home-wrap">
  <div class="intro-header cc-subpage">
    <div class="intro-content">
      <div class="heading-jumbo">Our work<br></div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="section-heading-wrap">
      <div class="label cc-light">Our Work</div>
      <h2>Team projects</h2>
    </div>
    <div class="w-layout-grid projects-grid">
      <div id="w-node-7763e2d38cdc-6ea75399"><a href="/work/project-1" class="project-cover-link w-inline-block"><img
            src="https://assets.website-files.com/5c6eb5400253230156de2bd6/5cdc030dd7274dd880c516ca_portfolio%201%20-%20wide.svg"
            alt="" class="project-cover-pic"></a>
        <div class="project-name-wrap"><a href="/work/project-1" class="project-name-link">Project #1</a>
          <div class="paragraph-light">Art direction</div>
        </div>
      </div>
      <div id="w-node-7763e2d38ce3-6ea75399"><a href="/work/project-2" class="project-cover-link w-inline-block"><img
            src="https://assets.website-files.com/5c6eb5400253230156de2bd6/5cdc00e3a4217f7862153ae2_portfolio%202%20-%20wide.svg"
            alt="" class="project-cover-pic"></a>
        <div class="project-name-wrap"><a href="/work/project-2" class="project-name-link">Project #2</a>
          <div class="paragraph-light">Product Design</div>
        </div>
      </div>
      <div id="w-node-7763e2d38cea-6ea75399"><a href="/work/project-3" class="project-cover-link w-inline-block"><img
            src="https://assets.website-files.com/5c6eb5400253230156de2bd6/5cdc030da4217f36e7154d83_portfolio%203%20-%20wide.svg"
            alt="" class="project-cover-pic"></a>
        <div class="project-name-wrap"><a href="/work/project-3" class="project-name-link">Project #3</a>
          <div class="paragraph-light">Animation</div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-startnow></app-startnow>
