<div class="section cc-home-wrap">
  <div class="intro-header cc-subpage">
    <div class="intro-content">
      <div class="heading-jumbo">Our work<br></div>
    </div>
  </div>
</div>
<div class="section">
  <div class="container">
    <div class="section-heading-wrap">
      <div class="label cc-light">Our Work</div>
      <h2>Team projects</h2>
    </div>
    <div class="w-layout-grid projects-grid">
      <div id="w-node-7763e2d38cdc-6ea75399"><a class="project-cover-link w-inline-block" routerLink="/work/project1" routerLinkActive="active" ariaCurrentWhenActive="page"><img
            src="/assets/project1/splashimage.jpg"
            alt="" class="project-cover-pic"></a>
        <div class="project-name-wrap"><a class="project-name-link" routerLink="/work/project1" routerLinkActive="active" ariaCurrentWhenActive="page">8Brothers</a>
          <div class="paragraph-light"></div>
        </div>
      </div>
      <div id="w-node-7763e2d38ce3-6ea75399"><a class="project-cover-link w-inline-block" routerLink="/work/project2" routerLinkActive="active" ariaCurrentWhenActive="page"><img
            src="/assets/project2/splashimage.jpg"
            alt="" class="project-cover-pic"></a>
        <div class="project-name-wrap"><a class="project-name-link" routerLink="/work/project2" routerLinkActive="active" ariaCurrentWhenActive="page">Raw Honey</a>
          <div class="paragraph-light"></div>
        </div>
      </div>
      <div id="w-node-7763e2d38cea-6ea75399"><a class="project-cover-link w-inline-block" routerLink="/work/project3" routerLinkActive="active" ariaCurrentWhenActive="page"><img
            src="/assets/project3/splashimage.jpg"
            alt="" class="project-cover-pic"></a>
        <div class="project-name-wrap"><a class="project-name-link" routerLink="/work/project3" routerLinkActive="active" ariaCurrentWhenActive="page">Do Vo Electrical</a>
          <div class="paragraph-light"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-startnow></app-startnow>
