<div class="w-nav-overlay" data-wf-ignore="" style="height: 4558.18px;">
  <nav class="navigation-items w-nav-menu w--nav-menu-open" >
    <a class="navigation-item" routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page">About</a>
    <a class="navigation-item" routerLink="/work" routerLinkActive="active" ariaCurrentWhenActive="page">Work</a>
    <a class="navigation-item" routerLink="/contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
  </nav>
</div>
