.navigation {
  display: flex;
  padding: 30px 50px;
  -webkit-box-align: center;
  align-items: center;
  background-color: transparent;
  position: relative;
  z-index: 1000;
}
.navigation-wrap {
  position: relative;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  flex: 1;
}
.logo-link {
  z-index: 1;
  position: relative;
  float: left;
  text-decoration: none;
}
.menu {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  z-index: 0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.navigation-items {
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  flex: 0 0 auto;
  position: relative;
  float: right;
}

.navigation-item {
  padding-top: 9px;
  padding-bottom: 9px;
  opacity: 0.6;
  font-size: 12px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 1px;
  text-transform: uppercase;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222222;
  padding: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
.navigation-item:hover {
  opacity: 0.9;
}
.menu-button {
  position: relative;
  float: right;
  padding: 18px;
  font-size: 24px;
  display: none;
  cursor: pointer;
  user-select: none;
}
.button {
  position: relative;
  z-index: 5;
  padding: 12px 25px;
  border-radius: 0px;
  background-color: #1a1b1f;
  -webkit-transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  transition: background-color 400ms ease, opacity 400ms ease, color 400ms ease;
  color: #fff;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  max-width: 100%;
  display: inline-block;
}
.button:hover {
  background-color: #32343a;
  color: #fff;
}
.w-nav-overlay {
  position: absolute;
  overflow: hidden;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}
@media (max-width: 991px) {
  .navigation {
    padding: 25px 30px;
  }
  .navigation-wrap {
    background-color: #fff;
  }
  .logo-link {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .menu {
    position: static;
    margin-left: 30px;
  }
  .navigation-items {
    background-color: #fff;
    display: none;
  }
  .menu-button {
    padding: 0px;
    display: block;
  }
  .menu-icon {
    display: block;
  }
  .button {
    display: none;
  }
}

